* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: var(--bs-font-sans-serif);
}

a {
    text-decoration: none;
    color: #000;
}

.parte-um{
    width: 100%;
    padding: 15% 0;

    background-color: #FF944D;
    color: #fff;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parte-dois {
    width: 100%;
    padding: 15% 0;

    background-color: #fff;
    color: #000;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1>a {
    text-decoration: none;
    color: #fff;
    width: 35vw;
    margin-bottom: 1.5vh;
}

h3{
    width: 55vw;
    font-weight: 400;
}

:root {
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


